<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>b站下载器</title>
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="../ui/lulu/pure/ui.css">
    <link rel="stylesheet" href="../ui/lulu/pure/table.css">
</head>
<body>
<aside class="box">
    <ul>
        <li><a href="index.html">当前下载</a></li>
        <li><a href="config.html" class="active">配置</a></li>
    </ul>
</aside>
<section>

</section>
</body>
<script type="text/javascript" src="../ui/lulu/pure/all.js"></script>
<script type="text/javascript" src="index.js"></script>
</html>
