<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>you-get</title>
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="../ui/lulu/pure/ui.css">
    <script type="text/javascript" src="../ui/lulu/pure/all.js"></script>
</head>
<body>
<aside class="box" id="test">
    <ul>
        <li>
            <h3>b站下载器</h3>
        </li>
        <li><a href="#">当前下载</a></li>
        <li><a href="#">配置</a></li>
    </ul>
</aside>
<section>
<!--    <h1>Main Content</h1>-->
</section>
</body>
</html>
